version: '3.8'

services:
  backend-api:
    build: ./backend
    container_name: backend-api
    ports:
      - "5000:5000"
    restart: unless-stopped
    networks:
      - app-network

  frontend-api:
    build: ./frontend
    container_name: frontend-api
    ports:
      - "80:80"
    depends_on:
      - backend-api
    restart: unless-stopped
    networks:
      - app-network

networks:
  app-network:
    driver: bridge